<!-- templates/class_list.html -->
{% extends '../bruh/base.html' %}

{% block title %}Список классов{% endblock %}

{% block content %}
<h1>Список классов</h1>
<ul>
    {% for class in classes %}
    <li>
        {{ class.name }}
        - <a href="{% url 'daily_grades_by_class' class.id %}">Ежедневные оценки</a>
        - <a href="{% url 'exam_grades_by_class' class.id %}">Оценки за контрольные</a>
    </li>
    {% empty %}
    <li>Классы пока не добавлены.</li>
    {% endfor %}
</ul>
{% endblock %}