<!-- templates/daily_grades.html -->
{% extends 'base.html' %}

{% block title %}
    {% if selected_class %}
        Ежедневные оценки - {{ selected_class.name }}
    {% else %}
        Ежедневные оценки
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if selected_class %}
            Ежедневные оценки - {{ selected_class.name }}
        {% else %}
            Ежедневные оценки
        {% endif %}
    </h1>

    {% if selected_class %}
         <p><a href="{% url 'daily_grades' %}">Назад к моим оценкам</a></p>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Предмет</th>
                <th>Дата</th>
                <th>Оценка</th>
                <th>Учитель</th>
                <th>Ученик</th>
                <th>В 5-балльной системе</th>
            </tr>
        </thead>
        <tbody>
            {% for g in grades %}
                <tr>
                    <td>{{ g.subject }}</td>
                    <td>{{ g.date }}</td>
                    <td>{{ g.grade }}/10</td>
                    <td>{{ g.teacher.first_name }} {{ g.teacher.last_name }} {{ g.teacher.surname }}</td>
                    <td>{{ g.student.first_name }} {{ g.student.last_name }} {{ g.student.surname }}</td>
                    <td>{{ g.get_traditional_grade }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="6">Оценок пока нет.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}