<!-- templates/exam_grades.html -->
{% extends '../bruh/base.html' %}

{% block title %}
    {% if selected_class %}
        Оценки за контрольные - {{ selected_class.name }}
    {% else %}
        Оценки за контрольные
    {% endif %}
{% endblock %}

{% block content %}
<h1>
    {% if selected_class %}
        Оценки за контрольные - {{ selected_class.name }}
    {% else %}
        Оценки за контрольные
    {% endif %}
</h1>
{% if selected_class %}
     <p><a href="{% url 'exam_grades' %}">Назад к моим оценкам</a></p>
{% endif %}
<table>
    <thead>
        <tr>
            <th>Предмет</th>
            <th>Дата</th>
            <th>Оценка</th>
            <th>Макс. балл</th>
            <th>Учитель</th>
            <th>Ученик</th>
        </tr>
    </thead>
    <tbody>
        {% for g in grades %}
            <tr>
                <td>{{ g.subject }}</td>
                <td>{{ g.date }}</td>
                <td>{{ g.grade }}</td>
                <td>{{ g.max_grade }}</td>
                 <td>{{ g.teacher.first_name }} {{ g.teacher.last_name }} {{ g.teacher.surname }}</td>
                <td>{{ g.student.first_name }} {{ g.student.last_name }} {{ g.student.surname }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="6">Оценок пока нет.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}