<!-- templates/includes/menu.html -->
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Главная</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'schedule' %}">Расписание</a></li>
            <li><a href="{% url 'daily_grades' %}">Ежедневные оценки</a></li>
            <li><a href="{% url 'exam_grades' %}">Оценки за контрольные</a></li>
             {% if user.role == 'teacher' or user.role == 'admin' or user.role == 'director' %}
                <li><a href="{% url 'class_list' %}">Список классов</a></li>
            {% endif %}
            {% if user.role == 'admin' or user.role == 'director' %}
                <li><a href="{% url 'add_person' %}">Добавить пользователя</a></li>
                <li><a href="{% url 'add_school' %}">Добавить школу</a></li>
                <li><a href="{% url 'add_class' %}">Добавить класс</a></li>
                <li><a href="{% url 'add_subject' %}">Добавить предмет</a></li>
            {% endif %}
            {% if user.role == 'teacher' or user.role == 'director' or user.role == 'admin' %}
                <li><a href="{% url 'add_schedule' %}">Добавить расписание</a></li>
                <li><a href="{% url 'add_daily_grade' %}">Добавить ежедневную оценку</a></li>
                <li><a href="{% url 'add_exam_grade' %}">Добавить оценку за контрольную</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Выйти</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Войти</a></li>
            <li><a href="{% url 'register' %}">Регистрация</a></li>
        {% endif %}
    </ul>
</nav>