{% extends "base.html" %}

{% block title %}SmartOqulyq - Басты бет{% endblock %}
{% load static %}
{% block content %}
<main class="main-content">
    <section class="hero">
         <img src="{% static 'image/image.png' %}" alt="Smart Oqulyq logo">

        <p>Оқушыларға арналған білім беру платформасы</p>
        <button class="cta-btn" >Бастау</button>
    </section>

   <!-- О нас -->
<section class="about-section">
    <div class="about-container">
        <img src="{% static 'image/баука.jpg' %}" alt="Ребенок у доски" class="about-image">
        <div class="about-text">
            <h3>Біз туралы</h3>
            <h2>SmartOqulyq платформасының тарихы</h2>
            <p>SmartOqulyq — Қазақстандағы мектеп оқушыларына арналған білім беру платформасы, оқу және тестілеуді жеңілдету үшін құрылған.</p>
            <button class="more-btn">Толығырақ</button>
        </div>
    </div>
</section>

<!-- Преимущества -->
<section class="advantages-section">
    <div class="advantages-container">
        <div class="advantages-text">
            <h3>Біздің артықшылықтарымыз</h3>
            <h2>Басқа платформалардан ерекшеленеміз</h2>
            <p>Біз оқушыларға, ата-аналарға және мұғалімдерге мықты қолдау көрсетуді мақсат еткен платформа ретінде жұмыс жалғастырамыз.</p>
            <ul>
                <li>Тиімді бақылау</li>
                <li>Жоғары сапалы материалдар</li>
                <li>Пайдаланушыға бағдарланған дизайн</li>
            </ul>
        </div>
        <img src="{% static 'image/ere.png' %}" alt="Книги на полке" class="advantages-image">
    </div>
</section>



    <section class="services">
        <div class="service">
            <img src="https://storage.googleapis.com/a1aa/image/v6sCrznNPiPPPw0WmRvQhjC9IQmaSQWrUH3_dcp_fTk.jpg" alt="Оқушыларға">
            <h3>Оқушыларға:</h3>
            <ul>
                <li>Электронды күнделік</li>
                <li>Онлайн сабақтар</li>
                <li>ҰБТ-ға дайындық</li>
            </ul>
        </div>
        <div class="service">
            <img src="https://storage.googleapis.com/a1aa/image/6x3ClnxbeBwM0RXlKeihXyhBxu_SX7rrmd4P6IVHpH4.jpg" alt="Ата-аналарға">
            <h3>Ата-аналарға:</h3>
            <ul>
                <li>Баланың күнделігі</li>
                <li>Үлгерімді бақылау</li>
                <li>ҰБТ-ға дайындық</li>
            </ul>
        </div>
        <div class="service">
            <img src="https://storage.googleapis.com/a1aa/image/rYJ0cHxDtG1x1sAkENWr9gOqiJUbbUZgNUvkRF5jwfY.jpg" alt="Мұғалімдерге">
            <h3>Мұғалімдерге:</h3>
            <ul>
                <li>Электрондық журнал</li>
                <li>Қашықтықтан оқыту</li>
                <li>БЖБ және ТЖБ құру</li>
            </ul>
        </div>
    </section>
</main>
{% endblock %}
