<!-- templates/schedule.html -->
{% extends 'base.html' %}

{% block title %}Расписание{% endblock %}

{% block content %}
    <h1>Расписание</h1>
    <table>
        <thead>
            <tr>
                <th>Предмет</th>
                <th>Дата</th>
                <th>Время</th>
                <th>Учитель</th>
                <th>Ученик</th>
                <th>Задание</th>
                <th>Статус</th>
                <th>Номер урока</th>
            </tr>
        </thead>
        <tbody>
            {% for s in schedules %}
                <tr>
                    <td>{{ s.subject }}</td>
                    <td>{{ s.date }}</td>
                    <td>{{ s.time }}</td>
                   <td>{{ s.teacher.first_name }} {{ s.teacher.last_name }} {{ s.teacher.surname }} </td>
                    <td>{{ s.student.first_name }} {{ s.student.last_name }} {{ s.student.surname }}</td>
                    <td>{{ s.task }}</td>
                    <td>{{ s.get_status_display }}</td>
                    <td>{{s.lesson_number}}</td>
                </tr>
             {% empty %}
            <tr><td colspan="8">Расписание пока пусто.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}