{% load static %}
<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SmartOqulyq{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <!-- Навигация -->
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'image/image.png' %}" alt="Smart Oqulyq logo">
        </div>
        <div class="nav-links">
            <a href="base.html">Басты бет</a>
            <a href="#">Біз туралы</a>
            <a href="#">Ұсыныстар</a>
            <a href="#">Блог</a>
        </div>
        <button class="start-btn" onclick="window.location.href='{% url 'login' %}'">Бастау</button>

    </nav>

    {% block content %}{% endblock %}


    <!-- Подвал -->
<div class="footer-section">
    <h1>Біздің платформаны сынап көріңіз</h1>
    <p><span class="italic">SmartOqulyq</span>-қа қосылыңыз және оқу үрдісін жаңартыңыз!</p>
    <button class="start-btn">Бастау</button>
</div>
<footer class="footer">
    Авторлық құқық © 2025 SmartOqulyq
</footer>


</body>
</html>
