<!-- templates/grades.html -->
{% extends 'base.html' %}

{% block title %}Оценки{% endblock %}

{% block content %}
    <h1>Оценки</h1>
    <table>
        <thead>
            <tr>
                <th>Предмет</th>
                <th>Дата</th>
                <th>Оценка</th>
                <th>Учитель</th>
                 <th>Ученик</th>
                <th>Тип</th>
            </tr>
        </thead>
        <tbody>
            {% for g in grades %}
                <tr>
                    <td>{{ g.subject }}</td>
                    <td>{{ g.date }}</td>
                    <td>{{ g.grade }}</td>
                    <td>{{ g.teacher.first_name }} {{ g.teacher.last_name }}</td>
                    <td>{{ g.student.first_name }} {{ g.student.last_name }}</td>
                    <td>{% if g.is_exam %}Контрольная{% else %}Текущая{% endif %}</td>
                </tr>
             {% empty %}
                <tr><td colspan="6">Оценок пока нет.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}